SECRET_KEY=MySecretKey123
JWT_SECRET_KEY=MyJWTKey123
ENCRYPTION_KEY=ZmDcTFVJvBqXtY4PdRmLu5GyN28Wj7Ka
DATABASE_URL=postgresql://xau_user:xau_pass@db:5432/xau_bot
REDIS_URL=redis://redis:6379/0
USDT_TRC20=TPLcirURegRqaAV1CWXw6EVvL4kF8kNm8a
BYBIT_UID=495132302
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
TELEGRAM_TOKEN=8788731785:AAFhOHviyVMkuDS1psfjnk8XvZxXviPmfcg
TELEGRAM_CHAT_ID=5246379098
MAX_TRADES_PER_DAY=5
DAILY_PROFIT_TARGET=20.0
DAILY_LOSS_LIMIT=-16.0
LOT_SIZE=0.01
